*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('/animationss/images/background.png');
    overflow-x: hidden;
}


.headcontainer{
    display: flex;
    /* background: url('/animationss/images/background.png'); */
    
}
.headcontainer h1{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 50%;
    
    
}
.headcontainer a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin: 7px;
    margin-top: 10px;
    
    
}
.headcontainer a:hover{
    width: 100%;
    /* background-color: hsl(0, 0%, 38%); */
    /* transition: 50s ease-in-out; */
}

.mobile-nav-toglle {

    display: none;
}


.buttons{
    margin-top: 13px;
    display: flex;
    
        background: hsl(0 0% 0/0.75);
}

/* if the firefox doesnot support the property below here, the
that is the way you can manage just comment this one out and
see what happen */

@supports (backdrop-filter: blur(1rem)){
    .buttons{
        backdrop-filter: blur(1rem);
        background: hsl(0 0% 100/0.1);
    }
}
@media (max-width: 35em){
    .buttons{
        position: fixed;
        inset: 0 0 0 30%;

        z-index: 1000;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        
        transition: transform 350ms ease-out;
        
    }
    .headcontainer a{
        padding: 0.5rem;
    }

    .buttons[data-visible="true"]{
        transform: translateX(0);
    }
    .mobile-nav-toglle{
        display: block;
        position: absolute;
        z-index: 9999;
        /* background-repeat: no-repeat; */
        /* background-position: cover; */
        
        background: url('hamburger-menu-mobile.svg');
         
        
        background-size: 2rem;
        border: none;

        
        /* object-fit: cover; */
        width: 2rem;
        aspect-ratio: 1;
        
        top: 2rem;
        right: 2rem;


    }

    .mobile-nav-toglle[aria-expanded = "true"]{
        background-image: url('close.svg');
    }
    
}

